In [ ]:
def function(x):
    if x ==2: 
        print("gااood")

In [ ]:
function(3)

In [ ]:
def is_year_leap(year):
    test_data = [1900, 2000, 2016, 1987]
    test_results = [False, True, True, False]
    for i in range(test_data):

In [ ]:
def function():
    x = 2 
    print(x)
    
    
x = 3
print(x)
function()
#print(x)

In [ ]:
def function():
    global x 
    x = 1
    print(x)

x = 2
print(x)
function() #after running this line, since x is defined as a global var, it will be 1 everywhere 
print(x) 
x = 3 #unless you manually define it again
print(x)

In [ ]:
def my_function(my_list_1):
    print("Print #1:", my_list_1)
    print("Print #2:", my_list_2)
    del my_list_1[0]  # Pay attention to this line.
    print("Print #3:", my_list_1)
    print("Print #4:", my_list_2)


my_list_2 = [2, 3]
my_function(my_list_2)
print("Print #5:", my_list_2)

In [ ]:
def factorial_function(n):
    if n < 0:
        return None
    if n < 2:
        return 1
    
    product = 1
    for i in range(2, n + 1):
        product *= i
    return product


for n in range(1, 6):  # testing
    print(n, factorial_function(n))

In [ ]:
for n in range(1, 6):  # testing
    print(n, factorial_function(n))

In [ ]:
factorial_function(3)

In [ ]:
list1 = []

In [ ]:
print(list1)

In [ ]:
list1.append(2)

In [ ]:
print(list1)

In [ ]:
list2 = [2,3,4]

In [ ]:
list2.remove(4)

In [ ]:
print(list2)

In [ ]:
my_tuple = ()

In [ ]:
print(my_tuple)

In [ ]:
tuple2 = (2,3, 'hello')

In [ ]:
print(tuple2)

In [ ]:
list3 = [3,4,'Hi']

In [ ]:
print(list3)

In [ ]:
mydictionary = { "sag":"dog" , "gorbe":"cat" }

In [ ]:
{}

In [ ]:
print(mydictionary)

In [ ]:
name = input("Enter your name: ")

In [ ]:
largest_number = -99999999
counter = 0

number = int(input("Enter a number or type -1 to end program: "))

while number != -1:
    if number == -1:
        continue
    counter += 1

    if number > largest_number:
        largest_number = number
    number = int(input("Enter a number or type -1 to end program: "))

    
    
if counter:
    print("The largest number is", largest_number)
else:
    print("You haven't entered any number.")

In [ ]:
for i in range(1,10, 2):
    print(i)

In [ ]:
result = 2 / 2
print("Hello")

In [ ]:
x = 1
while x < 11:
    if (x % 2) != 0:
        print(x)
    x = x + 1

In [ ]:
for x in "john.smith@pythoninstitute.org":
    if x == "@":
        break
    else: 
        i = 1
        mylist = []
        mylist[i] = x
        i = i + 1

In [ ]:
for ch in "john.smith@pythoninstitute.org":
    if ch == "@":
        break
    print(ch, end="")

In [ ]:
for digit in "0165031806510":
    if digit == "0":
        print("x", end="")
        continue
    print(digit, end="")

In [ ]:
i = 1
j = not not i
print(j)

In [ ]:
x = 1
print(x)

In [ ]:
x = -3
print(x)
y = not not x
print(y)

In [ ]:
lst=['PRO']
print(len(lst) * 'abc' + 'xyz')

In [ ]:
x = [False, True, True, False, True]
y = x[:]
i = 0
for j in y[2:]:
  if j:
    i +=1
print(i)

In [ ]:
data = (1, 2, 8, 16)
print(type(data))

data2 = data[-2:-1]
print(data2)
#data = data[-1]
#print(data)

In [ ]:
for a in range(1, 3):
  for b in range(1, 3):
    if a >= b:
      continue
  else:
    print(a * b)

In [ ]:
x = {'Marko': 10, 'Ana': 46, 'Angie':76}
print(list(x.keys()))

In [ ]:
def test():
  x = 'Procoding'
  print(x)
 
x = 'DataScience4U'
print(x)
test()
print(x)

In [ ]:
x = 42
for i in range(2, 8, 2):
  for j in range(-5, 2, 3):
    if i==j:
      x += 2
    else:
      break
print(x)

In [ ]:
def func(a):
  a[3]='shark'
 
x = ['cat', 'dog', 'mouse', 'cow']
func(x)
print(x)

In [ ]:
a = 13
b = 42
 
while a < b:
  print("*", sep="-", end="")
  a += 7

In [ ]:
x = [[[42, 13], [33, 44]], [[555, 678], [7, 8]]]
 
def test(z): # z = [[555, 678], [7, 8]] --> z[0] = [555, 678] --> z[0][0] = 555 
  res = z[0][0] # res = 555
  for el in z:  # el = [555, 678]
    for d in el: # d = 678
      if res < d:
        res = d
  return res
 
print(test(x[1])) # x[1] = [[555, 678], [7, 8]]

In [ ]:
x = [[[42, 13], [33, 44]], [[555, 678], [7, 8]]]
print(x[0][0][0])

In [ ]:
def f(x):
  return x ** 3 - 24
 
print(f(f(f(3))))

In [ ]:
x=42
while x<46:
  x+=1
  print(x)
  break
else:
  print("break")

In [ ]:
print(79. // 7)

In [ ]:
print(42 + 5.0 * 3 + 22 // 4 + 11 % 3)

In [ ]:
print(42 + 5.0 * 3 + 22)

In [ ]:
print(4 + 11 % 3)

In [ ]:
print(79. // 6)

In [ ]:
print(42 + 5.0 * 3 + 22 // 4 + 11 % 3)

In [ ]:
while True:
  password = input()
  if password == 'qwerty':
    print("Ok password: ", password)
    break
    print("End")
  else:
    print("Wrong password: ", password)

In [ ]:
x = 0
for i in range(-2, 4, 2):
  if 4 * i < 8:
    x += 3
else:
  x += 2
print(x)

In [ ]:
x = 'DataScience4U'
for char in x:
  if char == 't':
    break
  print(char)
else:
  print('Finished!')

In [ ]:
x = ['Procoding', 42, 13.03, 'DataScience', '4U', 11.1]
print(x[1:4])

In [ ]:
lst = [-1, -0.25, 0.5, 1.5]
 
lst2 =  lst[0:5]
print(lst2)

In [ ]:
lst = [-1, -0.25, 0.5, 1.5]
 
lst2 =  lst[0:5]
y = lst[lst[0]]
 
print(lst2)
print(y)

In [ ]:
data = {'center': 'Procoding', 'age': 5}
school = data.copy()

print(id(data))
print(id(school))

# print(id(data) == id(school))

In [ ]:
a = 1 + 2 * 3 // 4
if a < 2: 
  print('*')
elif a < 0 :
  print('**')
else:
  print('***')

In [ ]:
def f1():
  c=30,
  d=20,
  return c, d
  
a,b=f1()
 
print(a,b)

In [ ]:
print("Pro", "Coding", sep="-", end="")

In [ ]:
x = [1, 2, 3]
y = x
x[0] = 42
print(y)

In [ ]:
lst = ['Ana', 1, 4, 2, (6, 5), False]
del lst[:-3]
 
print(lst)

In [ ]:
d={"one":"two", "two":"None"}
key="one"
key=d[key]
key=d[key]
print(key)

In [ ]:
def f(x):
  if x == 3:
    return 0
  else: return x * f(x-1)
 
print(f(4))

In [ ]:
dict1 = {7: 'Java', 4: 'JavaScript', 3: 'Python', 1:"C#"}
 
dict2 = dict1
del dict1
 
print(dict2)

In [ ]:
i = 15
j = 22

In [ ]:
x = i & j 
print(x)

In [ ]:
i = 15
j = 22
x = i & j
print(x)

In [ ]:
i = 2
print(i)
x = not i
print(x)

In [ ]:
i = 15
x = ~ i
print(x)

In [ ]:
x = 1
print(x)
y =  x << 2
print(y)

In [ ]:
# Define a list
my_list = [10, 20, 30, 40, 50]

# Use an expression as the index to access an element
index = 2 + 1  # An expression (2 + 1) is used as the index
element = my_list[index]

print(element)

In [ ]:
mylist = [2,3,4,5,6,7]
print(mylist)

In [ ]:
mylist.insert(2,2222)

In [ ]:
print(mylist)

In [ ]:
mylist = [11,22,33,44]
for i in range(4):
    print(mylist[i])
    
    
mylist.append(55)

for i in range(4):
    print(mylist[i])

In [ ]:
mylist = [11,22,33,44]
for i in range(4):
    print(mylist[i])

In [ ]:
mylist.append(55)

In [ ]:
print(mylist)

In [ ]:
for i in mylist:
    print(mylist[i])

In [ ]:
mylist = [11,22,33,44]

    
mylist.append(55)

for i in mylist:
    print(i)

In [ ]:
def f(x):
  if x % 2 == 0:
    return 1
  else:
    return
 
print(f(f(2)) + 11)

In [ ]:
def f(x):
  if x % 2 == 0:
    return 1
  else:
    return

print(f(1) + 11)

In [ ]:
x = 15
def test(): 
  x -= 4.0        
 
print(test())

In [ ]:
mylist = [2,3,9,1,2,7,8,1111]
print(mylist)
mylist.sort()
print(mylist)

In [ ]:
x = 2
y = x #I assigned x to y
x = 3 #I updated the x, but y will not change
print(f'x = {x}')
print(f'y = {y}')

In [ ]:
x = [1,2] #x is a list
y = x #I assigned x to y --> x and y are both lists
x[0], x[1] = 3, 4 #y will be updated as well 
print(f'y after updating x = {y}')

In [ ]:
#Slicing 
x = [1,2,3,4,5]
y = x[0:-2]
print(y)

In [ ]:
y = x[1:]
print(y)

In [ ]:
my_list = [0, 3, 12, 8, 2]

print(5 in my_list)

In [ ]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
to_find = 5
found = False

for i in range(len(my_list)):
    found = my_list[i] == to_find
    if found:
        break

if found:
    print("Element found at index", i)
else:
    print("absent")

In [ ]:
row = [WHITE_PAWN for i in range(8)]

In [ ]:
squares = [x ** 2 for x in range(10)]

print(squares)

In [ ]:
mylist = [i * 2 for i in range(5)]
print(mylist)

In [ ]:
mylist = [ for i in range(5)]
print(mylist)

In [ ]:
x = []


for j in range(5):
    y = [i * 2 for i in range(6)]
    x.append(y)



print(x)

In [ ]:
y = [ [i * 2 for i in range(5)] for j in range(3)]
print(y)

In [ ]:
rooms = [[[False for r in range(4)] for f in range(3)] for t in range(2)]
print(rooms)

In [ ]:
print("\")

In [ ]:
print("\\")

In [ ]:
print("Hello", "Azarm", end = "NO")

In [ ]:
print("Heloooooooooo", "safd", end="sjhdf", sep = "????")

In [ ]:
x = 10_0
y = x / 2
print(y)

In [ ]:
x = 4//3
print(x)

In [ ]:
x = input("Plz write your name:")

In [ ]:
print(x)

In [ ]:
y = int(x)

In [ ]:
x = "A" * -1
print(x)

In [ ]:
def test(): 
  x -= 4.0        
 
x = 15
test(x)
 
print(x)

In [ ]:

y = 3.23
z = False
 

print(y+z)

In [ ]:
x = 5
def f():
  global x
  x += 5
  print(5 + x)
 
print(x)
f()
print(x)

In [ ]:
x = (9, 20,1,1,1,1,1)
y =  (8, 13)
print (x > y)

In [ ]:
def test(a, b):
  a = 1
  b[0] = 42
 
x = 13
y = [10, 20, 30]
 
test(x, y)
 
print(x, y[0])

In [ ]:
i = 9
while i > 0:
  i -= 3
  print('*')
  if i == 3:
    break
  else:
    print('*')

In [ ]:
x = (1, 2)
y = ('x', 'y', 42)
z = x + y * 2
print(z)

In [ ]:
try:
  print(42/0)
      continue 
except (ZeroDivisionError):
  print("Zero division")
except: 
  print("You made a mistake")
except (ValueError):
  print("Boo!")

In [ ]:
if True == True:
  if False == 0:
    print('a', end="")
  else:
    print('aa', end="")
  print('aaa', end="")
  if True < False:
    print('aaaa', end="")
  else:
    print('aaaaa', end="")

In [ ]:
def f(x):
    x[0] = 42
 
x = [1, 2, 3, 4]
f(x)
print(x)

In [ ]:
d = {}
d[1] = 7
d['1'] = 8
d[1] -= 4

print(d)
# d = { 1:3 , "1":8}

s = 0
 
for i in d:
  s += d[i]
 
print(s)

In [ ]:
print(d)

In [ ]:
a = 'DataScience4U'
i = 7
while i < len(a):
  i += 2
print(i+1)

In [1]:
while 13 < 13:
    print("True")

In [2]:
x=input("Enter value for x: ")
y=input("Enter value for y: ")
print(y+x)

Enter value for x: 2
Enter value for y: 4
42

In [4]:
data = [1, 2, 3, 4, 5]
 
def test(x):
  del x[0]
  x.pop()
 
test(data)
print(data)

[2, 3, 4]

In [5]:
data = [1, 2, 3, 4, 5]
 
def test(x):
  del x[0]
  x.pop(2)
 
test(data)
print(data)

[2, 3, 5]

In [7]:
points = [65, 75, 90, 80, 80, 100, 100]
avg = sum(points) // len(points)
if 91 <= avg <= 100:
  grade = 10
elif 81 <= avg < 90:
  grade = 9
elif 71 <= avg < 80:
  grade = 8
elif 61 <= avg < 70:
  grade = 7
elif 51 <= avg < 60:
  grade = 6
else:
  grade = 5


print(grade)

9

In [8]:
def f():
  x=2
  y=3
  return x+y
x = f(5)
print(x)

TypeError: f() takes 0 positional arguments but 1 was given

In [9]:
def f(data):
  for d in data[::3]:
    yield d
 
for x in f('DataScience4U'):
  print(x, end=' ')

D a i c U

In [10]:
x = 42
if (x<13): print("Yes")
else: print("No")

No

In [11]:
x = 12
y = 3
x += 2 ** 3
x //= y // 2 // 3
print(x)

ZeroDivisionError: integer division or modulo by zero

In [16]:
x = 60
y = 30

z = x / y /90
print(z)

0.022222222222222223

In [17]:
def f():
  return 3
 
def g(x):
  return f() + x
 
print(g(7))

10

In [19]:
x = input("Enter x: ")
print(10/x)

Enter x: sdf

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [20]:
def mystery_function(lst):
    if len(lst) == 0:
        return []
    if len(lst) == 1:
        return lst
    return mystery_function(lst[1:]) + [lst[0]]
 
original_list = [1, 2, 3, 4, 5]
result = mystery_function(original_list)
print("Original list:", original_list)
print("Result:", result)

Original list: [1, 2, 3, 4, 5]
Result: [5, 4, 3, 2, 1]

In [22]:
x = '1', '2'
print(type(x))
y = ('3', '4')
print(x + y)

<class 'tuple'>
('1', '2', '3', '4')

In [23]:
year = 2000
print("Year is less than 2023") if year<2023 else print("Bye bye")

Year is less than 2023

In [1]:
mylist = [1,2,3,4]
print(mylist)

[1, 2, 3, 4]

In [7]:
mylist.insert(0,8)
print(mylist)

[8, 9, 9, 9, 9, 1, 2, 3, 4]

In [17]:
def fun1(n):
    list = []
    for i in range(0,n):
        list.insert(n,i)
    return list
    
fun1(5)

[0, 1, 2, 3, 4]

In [19]:
mylist.append(99)
print(mylist)

TypeError: append() takes exactly one argument (2 given)

In [20]:
print(mylist)

[8, 9, 9, 9, 9, 1, 2, 3, 4, 99]

In [22]:
for i in mylist:
    print(i)

8
9
9
9
9
1
2
3
4
99

In [25]:
for i in range(0,9):
    print(mylist[i])

8
9
9
9
9
1
2
3
4

In [ ]:
for i in list2:
    print(i)

In [30]:
mylist = [11,22,33,44]
print(mylist2)

[11, 22, 33, 44]

In [31]:
for i in mylist:
    print(i)

11
22
33
44

In [32]:
for i in mylist:
    print(mylist[i])

IndexError: list index out of range

In [34]:
for i in range(0, 4):
    print(mylist[i])

11
22
33
44

In [37]:
dictionary = {
    "First Name" : "Azarm",
    "Last Name" : "Piran", 
    "Birthday" : "Feb-9",
    "Age" : "30"
}

In [38]:
print(dictionary)

{'First Name': 'Azarm', 'Last Name': 'Piran', 'Birthday': 'Feb-9', 'Age': '30'}

In [40]:
for i in dictionary.keys():
    print(i)

First Name
Last Name
Birthday
Age

In [41]:
for i in dictionary.items():
    print(i)

('First Name', 'Azarm')
('Last Name', 'Piran')
('Birthday', 'Feb-9')
('Age', '30')

In [42]:
for i in dictionary.values():
    print(i)

Azarm
Piran
Feb-9
30

In [43]:
dictionary['From?'] = "Iran"
print(dictionary)

{'First Name': 'Azarm', 'Last Name': 'Piran', 'Birthday': 'Feb-9', 'Age': '30', 'From?': 'Iran'}

In [ ]:
dictionary.update

In [45]:
def fun(x):
    if x == 2:
        print("Two")
    elif x == 3:
        print("Three")
    elif x == 4:
        print("Four")
        
        
        
fun(2)

Two

In [46]:

for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [54]:
i = 9
j = 1
print( i & j )

1

In [55]:
x = 1
print(x)
# 001

1

In [59]:
y = x << 2
print(y)

4

In [60]:
x1 = [9,7,10, 12,19]
print(x1)

[9, 7, 10, 12, 19]

In [63]:
x2=x1.sort()
print(x1)

[7, 9, 10, 12, 19]

In [64]:
x1 = [9,7,10, 12,19]
print(x1)

[9, 7, 10, 12, 19]

In [66]:
x1.reverse()
print(x1)

[19, 12, 10, 7, 9]